127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6


10.10.12.1 hadoop1.fdad.test hadoop1
10.10.12.2 hadoop2.fdad.test hadoop2
10.10.12.3 hadoop3.fdad.test hadoop3